/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    padding: 0 0 0 4%;
}

.home-text-section {
    flex: 1;
    padding: 1.5rem;
    border-left: 15px solid #603813;
    animation: slideInLeft 2.5s ease-out;
}

.primary-heading {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    font-family: 'Outfit', sans-serif;
}

.highlight {
    color: #603813;
}

.primary-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #000;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    color: #F2E9E4;
    background-color: #603813;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #A5978B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-image-container {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Services styles */
.services-section {
    height: 60vh;
    background-color: #603813;
    padding: 2.5rem 4%;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5rem;
    color: #F2E9E4;
    text-align: center;
    margin-bottom: 5rem;
}

.services-list {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    background-color: #F2E9E4;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.service-title {
    color: #603813;
    margin-bottom: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.service-item p {
    color: #603813;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.coming-soon {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #ff5733;
    font-weight: bold;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .page-container {
        padding: 0 2%;
    }

    .home-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0 0 4%;
        /* Added top padding */
    }

    .home-text-section {
        border-left: none;
        text-align: center;
    }

    .home-image-container {
        width: 100%;
    }

    .home-banner-image {
        width: 80%;
        height: auto;
    }

    .services-section {
        height: auto;
    }

    .service-item {
        width: 45%;
    }

    .service-title {
        font-size: 1.6rem;
    }

    .service-item p {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0 0 4%;
        /* Added top padding */
    }

    .home-text-section {
        width: 100%;
        border-left: none;
        text-align: center;
    }

    .home-banner-image {
        width: 90%;
    }

    .services-section {
        height: auto;
        padding: 2rem 3%;
    }

    .services-heading {
        font-size: 2.2rem;
    }

    .service-item {
        width: 90%;
        padding: 3rem;
    }

    .service-title {
        font-size: 1.6rem;
    }

    .service-item p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0 0 4%;
        /* Added top padding */
    }

    .home-text-section {
        text-align: center;
        width: 100%;
        border-left: none;
    }

    .home-banner-image {
        width: 100%;
        height: auto;
    }

    .services-heading {
        font-size: 1.8rem;
    }

    .service-item {
        width: 100%;
        padding: 2.5rem;
    }

    .service-title {
        font-size: 1.4rem;
    }

    .service-item p {
        font-size: 1.1rem;
    }
}